defaults:
  - base

trainer:
  accelerator: mps
  devices: 1
  precision: 32
  max_epochs: 100
  accumulate_grad_batches: 1

datamodule:
  image_size: [512, 512]
  batch_size: 16
  num_workers: 4
  metadata_csv: ${paths.labels_csv}
  num_folds: 5
  val_fold: 0
  class_weights: [1.0, 5.7, 5.6, 7.1, 11.0, 7.7, 1.5]
  pin_memory: false
  persistent_workers: false

model:
  backbone: convnext_base
  feature_dim: 1024
  dropout: 0.3
  optimizer:
    lr: 2e-4
    weight_decay: 1e-2
  scheduler:
    t_max: 100

logging:
  mlflow_experiment: fundus-odir
  log_every_n_steps: 20
